<div class="section1">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active it1 caruoselImgStyle"
        data-bs-interval="10000"
      >
        <img src="#" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <span class="inner-img"><p class="p-0 m-0">Save the world</p></span>
          <p class="inner-text p-0 m-0">Make The World Green Again</p>
        </div>
      </div>
      <div class="carousel-item it2 caruoselImgStyle" data-bs-interval="2000">
        <img src="" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <span class="inner-img"><p class="p-0 m-0">Save the world</p></span>
          <p class="inner-text p-0 m-0">Help Us to Save Animals</p>
        </div>
      </div>
      <div class="carousel-item it3 caruoselImgStyle">
        <img src="" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <span class="inner-img"><p class="p-0 m-0">Save the world</p></span>
          <p class="inner-text p-0 m-0">Plastic Free Future</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="section2 bg-light">
  <div class="ftco-section">
    <div class="header-section mb-4">
      <div class="main text-center">
        <div class="mx-auto">PROJECT</div>
      </div>
      <div class="sub-main text-center">
        <div class="">Our campaign</div>
      </div>
    </div>
  </div>
  <div class="card-section">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12 card-content">
            <div class="first">ECOLOGY</div>
            <div class="second mb-3">Ecological frendly</div>
            <div class="third">
              Far from the countries Vokalia and Consonantia.
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 card-spcImg p-0">
            <img
              src="https://preview.colorlib.com/theme/ecogreen/images/gallery-1.jpg.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12 card-content">
            <div class="first">PLANTING</div>
            <div class="second mb-3">Planting Trees</div>
            <div class="third">
              Far from the countries Vokalia and Consonantia.
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 card-spcImg p-0">
            <img
              src="https://preview.colorlib.com/theme/ecogreen/images/gallery-1.jpg.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12 card-content">
            <div class="first">ECOLOGY</div>
            <div class="second mb-3">Ecological frendly</div>
            <div class="third">
              Far from the countries Vokalia and Consonantia.
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 card-spcImg p-0">
            <img
              src="https://preview.colorlib.com/theme/ecogreen/images/gallery-1.jpg.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12 card-content">
            <div class="first">WATER</div>
            <div class="second mb-3">Water Pollution</div>
            <div class="third">
              Far from the countries Vokalia and Consonantia.
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 card-spcImg p-0">
            <img
              src="https://preview.colorlib.com/theme/ecogreen/images/gallery-1.jpg.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="seprateSection">
  <div class="overlay"></div>
  <div class="text-center">
    <h1>The Idea</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-2 s2logo">
          <div class="iRound">
            <img src="../../../assets/images/team.png" alt="" />
          </div>
        </div>
        <div class="col-10">
          <p class="spcText">About the campaign?</p>
          <p>
            Hello World! 
            All we've ever wished for was "a better place to live in". But have
            you ever wondered about the magic our body and thought could perform
            to transform this world into one? If not, then now is the time!
            <br />
          </p>
          <br />
          <p>
            Our country is gifted with incredibly beautiful landscapes and
            culture. A great number of tourists accross the world choose to
            experience this grandeur allured by the color and scent of our
            nation. But are we able to do justice to our guests as well as to
            ourselves in terms of preserving this spirit?
          </p>
          <br />
          <p>
            Unscientific waste management and careless treatment of our
            ecosystem has led to a rising concern regarding the health and
            wellness of different species. Human act of throwing litters and
            damaging the environment are expected to have devastating effects on
            the lives of next generation. Hence, this very moment counts!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 s2logo">
          <div class="iRound">
            <img src="../../../assets/images/idea.png" alt="" />
          </div>
        </div>
        <div class="col-10">
          <p class="spcText">Our Vision</p>
          <p>
            Earth Before Everything Else brings to you an opportunity to be a
            part of the change. Our initiative of 'Plogging' which inspires our
            members to pick litters up while jogging guarantees a positive
            outlook towards the need for conserving and cleaning our
            environment. We aim to spread awareness among masses and ignite
            their desire to be the change. Along with a healthy life, this
            campaign ensures a healthy atmosphere, encouraging the coming
            generation to carry forward this practice.
          </p>
          <br />
          <p>Join us, for plogging is the sport of today!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="text-center">
        <ul class="p-0" style="list-style: none">
          <li class="text-center m-auto my-3">
            <div class="iRound m-auto">
              <img
                src="../../../assets/images/two-persons-shopping.png"
                alt=""
              />
            </div>
          </li>
          <li style="text-decoration: underline" class="my-2">+ 92,048,000</li>
          <li>Meals Served</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          <ul class="p-0" style="list-style: none">
            <li class="text-center m-auto my-3">
              <div class="iRound m-auto">
                <img src="../../../assets/images/smart-city.png" alt="" />
              </div>
            </li>
            <li style="text-decoration: underline" class="my-2">+ 227</li>
            <li>Cities</li>
          </ul>
        </div>
        <div class="col-6 text-center">
          <ul class="p-0" style="list-style: none">
            <li class="text-center m-auto my-3">
              <div class="iRound m-auto">
                <img
                  src="../../../assets/images/two-persons-shopping.png"
                  alt=""
                />
              </div>
            </li>
            <li style="text-decoration: underline" class="my-2">+ 1887</li>
            <li>Ebee org established</li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <ul class="p-0" style="list-style: none">
          <li class="text-center m-auto my-3">
            <div class="iRound m-auto">
              <img src="../../../assets/images/target.png" alt="" />
            </div>
          </li>
          <li style="text-decoration: underline" class="my-2">+1</li>
          <li>Done</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="class section3">
  <div class="row p-0">
    <div class="col-lg-6 col-sm-12">
      <div class="s3img card-spcImg card-spcImg2">
        <img
          src="https://preview.colorlib.com/theme/ecogreen/images/xabout.jpg.pagespeed.ic.GilwM0uCTG.webp"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="s3Content">
        <div class="s3Heading mb-4">
          Do You Care Our Mother Earth Like We Do?
        </div>
        <div class="s3Para third">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
          <br />
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section4">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 m-auto">
      <p class="m-0">Follow our story on Instagram</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="instaButton">
        <a
          href="https://instagram.com/ebee_org?igshid=YmMyMTA2M2Y="
          target="_blank"
        >
          <span><i class="fa-brands fa-instagram mr-2"></i></span>
          earth_before_everything_else
        </a>
      </div>
    </div>
  </div>
</div>
<div class="wa-icon" style="padding: 10px; right: 15px">
  <a
    href="https://api.whatsapp.com/send/?phone=916282764726&text=Hi&app_absent=0"
    target="blank"
    title="Chat with us on whatsapp"
  >
    <div class="d-flex text-center">
      <div class="waImg mx-2">
        <img src="../../../assets/images/whatsapp.png" alt="" />
      </div>
      <div class="waText">Whatsapp</div>
    </div>
  </a>
</div>
