<footer class="ftco-footer img">
  <div class="container-xl">
    <div class="row mb-5 justify-content-between">
      <div class="col-md-6 col-lg-4">
        <div class="ftco-footer-widget mb-4">
          <h4 class="text-white">ECO<span class="g1">GREEN</span></h4>
          <div class="mt-4">
            <p>
              AN organization trying to recover our earth from all the
              vulnerabilities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-white">
        <h4>Services</h4>
        <div class="mt-4">
            <ul class="sUl">
                <li>Recycling</li>
                <li>Water refine</li>
                <li>Eco system</li>
                <li>solar energy</li>
            </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-white">
        <h4>Contact us</h4>
        <div class="mt-4">
            <ul class="p-0">
                <li class="d-flex">
                    <div> <i class="fa-solid fa-map-location-dot"></i></div>
                    <div class="mx-4">	203 Fake St. Mountain View, kochi</div>
                </li>
                <li class="d-flex">
                    <div><i class="fa-solid fa-phone"></i></div>
                    <div class="mx-4">99-99-999-99</div>
                </li>
                <li class="d-flex">
                    <div><i class="fa-solid fa-paper-plane"></i></div>
                    <div class="mx-4">your mail.com</div>
                </li>
                <li class="d-flex sMedia">
                  <div class="rImg" style="padding: 3px 10px;">
                    <a href=""  title="Visit us on Facebook" ><i class="fab fa-facebook-f" ></i></a>
                    
                    </div>
                  <div class="rImg " >
                      <a href=""  title="Visit us on Instagram" ><i class="fab fa-instagram"></i></a>
                  </div>
                  <div class="rImg">

                    <a href=""  title="Visit us on Twitter"  >
                        <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                </li>

            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
